
doctype html
html(lang="en")
	head

		//- Basic Page Needs
		//- ==================================================
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

		title= 'LAURA LEE WYATT - ' + title
		link(rel="icon", href="/img/favicon.ico")

		//- CSS
		//- ==================================================
		link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
		link(rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

		block styles

	body

		//- Header
		//- ==================================================
		header
			.inner
				.logo_text: a.site_name(href="/"): |LAURA LEE WYATT
					.site_description: |HARDWOOD BOARD PAINTING
				nav.jqueryslidemenu
					ul
						li: a(href="/"):          |Home
						li: a(href="/portfolio"): |Portfolio
						li: a(href="/bio"):       |Bio
						li: a(href="/gallery"):   |Gallery Representation
						li: a(href="/calendar"):  |Show Calendar
						li: a(href="/contact"):   |Contact

		//- Content
		//- ==================================================
		block content

		//- Footer
		//- ==================================================
		footer(class="has-gradient")
			.top_shadow
			.inner
				.footer-right-area
				.copyright: |Copyright © 2015 Laura Lee Wyatt. All Rights Reserved.
				.clearboth
			.bottom_shadow

		//- Javascript
		//- ==================================================
		mixin ie(condition)
			!= "<!--[" + condition + "]> -->"
			block
			!= "<!-- <![endif]-->"

		+ie('if lt IE 9')
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
			script.
				if (typeof jQuery === 'undefined')
				{
					document.open();
					document.write('<script src="/js/jquery-1.11.3.min.js">\x3C/script>');
					document.close();
				}

		+ie('if gte IE 9')
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
			script.
				if (typeof jQuery === 'undefined')
				{
					document.open();
					document.write('<script src="/js/jquery-2.1.4.min.js">\x3C/script>');
					document.close();
				}

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script.
			if (typeof $().emulateTransitionEnd !== 'function')
			{
				document.open();
				document.write('<script src="/js/bootstrap.min.js">\x3C/script>');
				document.close();
			}

		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
		script.
			if (typeof _ === 'undefined')
			{
				document.open();
				document.write('<script src="/js/underscore-min.js">\x3C/script>');
				document.close();
			}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		+ie('if lt IE 9')
			script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
			script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
			script(src="/js/excanvas.min.js")
				
		block scripts

